body {
  background-color: #999;
}

.container {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 600px;
  height: 650px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;

}

.fa-twitter {
  position: absolute;
  top: 10px;
}

.box,
.box button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-one {
  width: 300px;
  height: 160px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -50px;
}

.box-two {
  width: 300px;
  height: 150px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.box button {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.box-one button img {
  margin: 0.5rem;
}

.box-one i {
  color: #00acee;
  font-size: 1.8rem;
}

.box-two input {
  position: relative;
  width: 300px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;

}

.box-two input label {
  position: absolute;
  top: 0;
}

.box-two input::placeholder {
  font-size: 1rem;

}

.box-two input:focus {
  border: 1px solid #00acee;
}

.box-two .next-btn {
  background-color: #121212;
  color: #fff;
}

.box-two .next-btn:hover {
  background-color: rgb(39, 44, 48);

}

.btn:hover {
  cursor: pointer;
}

.container p a {
  text-decoration: none;
  color: #44b7e4;
}

.container p a:hover {
  text-decoration: underline;

}

.box-two .forget:hover {
  background-color: whitesmoke;
}

.box-one .apple:hover {
  background-color: whitesmoke;
}

.box-one .google:hover {
  background-color: whitesmoke;
}

h2 {
  font-size: 28px;
}

h5 {
  width: 18rem;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin-top: 1.2vh;
  margin-bottom: 0.4vh;
  font-size: 15px
}

h5 span {
  background: #fff;
  padding: 0 10px;
}


/* p{
  text-align: center;
} */

.acc-already {
  color: rgb(138, 136, 136);
  font-size: 0.9rem;
}

.signup-term {
  color: rgb(138, 136, 136);
  font-size: 13px;
  margin: 0;
  text-align: left;
  padding: 0;
}

.part-one-cls {
  display: none;
}

/*Second part of the code--Create account section*/


.part-two {
  width: 400px;
  height: 0px;
  position: absolute;
  top: 50px;
}

.box-three {
  width: 418px;
  height: 120px;
}
.box input:focus
{
    border: 1px solid #00acee;
}

.box-four {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;

}

.box-four button {
  width: 400px;
  height: 40px;
  background-color: #121212;
  color: #fff;
  outline: none;
  font-weight: bold;
  border-radius: 20px;
}

.box-four button:hover {
  background-color: rgb(39, 44, 48);
}

.box-three input {
  position: relative;
  width: 400px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  justify-content: center;
  border-radius: 4px;
  padding-left: 10px;

}

.brief-cls {
  padding-bottom: 10px;
  font-size: 14px;
  color: #7d8993
}

select {
  padding-bottom: 28px;
}

.part-two .mdy-cls {
  padding-bottom: 100px;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-left: 7px;

}

.part-two .month {
  width: 200px;
  height: 55px;
  border-radius: 2px;
  
}

.part-two .days {
  width: 90px;
  height: 55px;
  margin-left: 10px;
  border-radius: 2px;
}

.part-two .years {
  width: 100px;
  height: 55px;
  margin-left: 10px;
  border-radius: 2px;
}

.part-two .btn-nxt-btn {
  background-color: #121212;
  color: #fff;
}

.dob-cls {
  margin-top: 50px;
  margin-bottom: 0px;
}

.box-three a {
  text-decoration: none;
  color: #44b7e4;
  font-size: 15px;
  display: flex;
  align-self: flex-end;
  padding: 3px;
}

.box-three a:hover {
  text-decoration: underline;
}

.step {
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  top: -31px;
  left: -8px;
}

.part-two {
  display: none;
}

/*Third part of the code--Create account section*/


.box-six .sign-up-btn {
  background-color: #00acee;
  color: #fff;
}

.sign-up-btn {
  width: 400px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-left: 95px;
}

.box-five input {
  position: relative;
  width: 400px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  margin-left: 95px;
}

.second-brief-cls {
  padding-top: 80px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-right: 20px;
  padding-left: 30px;
  font-size: 13px;
  color: #7d8993
}

.box-five .phone-box,.dob-box,.name-box
{
  padding-top: 30px;
}






@media screen and (max-width: 690px) 
{

  /*media query should be in the last*/
  body 
  {
    background-color: #fff;
  }

  ;
}