body
{
 background-color:#999 ;
}

.container
{
    position:relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#fff;
    width: 600px;
    height: 650px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: 'Poppins', sans-serif;
}

h1{
  margin: 5vh 2vw;
}

h5 
{
  width: 50%; 
  text-align: center; 
  border-bottom: 1px solid grey; 
  line-height: 0.1em;
  margin-top: 0.3vh; 
  margin-bottom: 0.4vh; 
  font-size: 15px;
  /* margin-bottom: 3.2vh; */ /* margin-bottom 2 bar de diya h*/
  
} 

h5 span 
{ 
   background:#fff; 
   padding:0 10px; 
}
a
{
  text-decoration: none;
}
.box button
{
  width: 300px; 
  height: 40px;
  background-color: #fff ; 
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211,210,210);
  border-radius: 20px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  display: flex;
  
}

.box-two .btn-p
{
  background-color:#121212 ;
  color:#fff; 
   
}
a:hover
{
  text-decoration: underline;
}
.box-one .apple:hover
{
    background-color:whitesmoke; 
}
.box-one .google:hover
{
    background-color:whitesmoke;
}
.box-two .btn-p:hover
{
 background-color: rgb(39,44,48);
}
.btn:hover,a,.btn-p
{
  cursor: pointer;
}
p{
  text-align: center;
}
.acc-already
{
  color:rgb(138,136,136);
  font-size: 0.9rem;
}
.signup-term{
  color:rgb(138,136,136);
  font-size: 13px;
  margin: 0;
  text-align: left;
  padding: 11px;
}

.btn-text{
  margin: 8px;
}

.btn-icon{
  margin: 8px;
}

.btn-signup{
  margin: auto;
}

@media screen and (max-width: 690px){ /*media query should be in the last*/
  body{
    background-color: #fff;
  };
}